

.list-course-edit {
    background-color: white;
    color : red;
    text-align: left;
    width : 85px; 

  }


.list-course-edit a{
    border-color : black;
    color : black; 
    background-color: white;
    font-size : 12px; 
}

.list-course-edit .list-course-edit-item {
    margin-right : 100px;
    width: 60%

}
.course-nav {
    margin-top: 60px;
    margin-left: 20px; 
    color : red;
    text-align: left;
    font-size: 30px;
    display: fixed;
    

}
.course-nav a { 
    border-color : black;
    color : red; 
}

.course-nav a.active {
    border-color: black;
    color: black;
    border-left: solid; 
}
.row {
    padding: 10px 50px; 
    

}



.row a { 
    margin-right: 20px;
    margin-bottom: 20px;
    width: 250px;    
    box-shadow: 0px 4px 4px grey;
    font-size: large;
    box-shadow: 0cqmax;
    background-color: white;
    

}

.list-group a.active{
    background-color: white; 
    color: red;
    border-color : white
    
}



.list-course-name {
    padding-left: 30px;
    background-color: white   
}
.active {
    background-color: white;
}